
firstMVC/.classpath
firstMVC/.project
firstMVC/.settings/.jsdtscope
firstMVC/.settings/org.springframework.ide.eclipse.maven.prefs
*.prefs
*.component
firstMVC/.settings/org.eclipse.wst.common.project.facet.core.xml
firstMVC/.settings/org.eclipse.wst.jsdt.ui.superType.container
firstMVC/.settings/org.eclipse.wst.jsdt.ui.superType.name
firstMVC/pom.xml
firstMVC/.springBeans
firstMVC/src/main/resources/log4j.xml
firstMVC/src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
firstMVC/src/main/webapp/WEB-INF/spring/root-context.xml
firstMVC/src/test/resources/log4j.xml
firstMVC/target/classes/log4j.xml
*.MF
firstMVC/target/m2e-wtp/web-resources/META-INF/maven/br.com/firstMVC/pom.properties
firstMVC/target/m2e-wtp/web-resources/META-INF/maven/br.com/firstMVC/pom.xml
firstMVC/target/test-classes/log4j.xml
firstMVC/target/classes/br/com/firstMVC/loja/conf/JPAConfiguration.class
*.class
